@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-2">
    <ul>
        <li> Id:@Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Release Date: @Model.ReleaseDate</li>
        <li>Genre: @Model.Genre</li>
    </ul>
</div>
    

