
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Welcome</title>
        <link rel="stylesheet" href="~/Content/Main.css" />
    </head>
     <body class="bg">   
         
    </body>

   

